<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template page</title>
    <style>
        h1{
            color: blue;
        }
        h2{
            color: aqua;

        }
        h3{
            color: blueviolet;
        }
    </style>
</head>
<body>
    <center>
        <h1>Template Pages</h1>
        <h2>{{insert_msg}}</h2>
        <h3>the current date & time is:{{ insert_date }}</h3>
    </center>
</body>
</html>