<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RCB PAGE</title>
    <style>
        h1{
            color: brown;
        }
        h2{
            color: chocolate;
        }
    </style>
</head>
<body>
    <center>
        <h1>Royal challages Bangalore</h1>
        <h2>Run Machine Virat Kohli</h2>
        <br>
        <a href="{% url 'CSK:Dhoni' %}">navigate to Dhoni page</a>
    </center>
</body>
</html>